@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; color: #333333; }
a { text-decoration: none; color: inherit; }
ul, li { list-style: none; }
table { border-spacing: 0; }
.clearfix::before, .clearfix::after { display: block; content: ""; clear: both; }
img { vertical-align: top; border: 0; }

/* 레이아웃1 */
.layout1 { margin:0 auto; width: 1200px; }

.layout1 header { background: #bbbbbb; } 
.layout1 header .logo { width: 250px; height: 100px; float: left; background: #aaaaaa; }
.layout1 header nav { width: 950px; height: 100px; float: left; background: #999999 }

/* nav - 가로유형1 */
.layout1 header nav.nav_width1  { margin-top: 20px; width: 600px; height:auto; float: right; background: #555555; }
.layout1 header nav.nav_width1 li  { position: relative; width:25%; text-align: center; float: left; }
.layout1 header nav.nav_width1 li a { display: block; padding: 10px; font-size: 20px; color: #ffffff; }
.layout1 header nav.nav_width1 li a:hover { background: rgba(0,0,0,0.5); }
.layout1 header nav.nav_width1 li ul.sub { display: none; position: absolute; top: 44px; left: 0; background: #555555 }
.layout1 header nav.nav_width1 li ul.sub li { width: 100%; }

.layout1 .slide { width: 100%; height: 300px; background: #888888; }

.layout1 .contents > div { float:left; width:400px; height:200px; }
.layout1 .contents > div.box1 { background: #aaaaaa; }
.layout1 .contents > div.box2 { background: #bbbbbb; }
.layout1 .contents > div.box3 { background: #cccccc; }

.layout1 footer > div.footer1 { float: left; width: 200px; height: 100px; background: #777777; }
.layout1 footer > div.footer2 { float: left; width: 800px; height: 100px; background: #666666; }
.layout1 footer > div.footer3 { float: left; width: 200px; height: 100px; background: #555555; }


/* 레이아웃2 */
.layout2 { margin: 0 auto; width: 1200px; }

.layout2 .side { width: 300px; height: 850px; float: left; background: #999999;}
.layout2 .side .logo { width: 300px; height: 150px; background: #999999 }
.layout2 .side nav { width: 300px; height: 700px; background: #888888; }

.layout2 .main { width: 900px; height: 850px; float: left; background: #aaaaaa;}
.layout2 .main .slide { width: 900px; height: 450px; background: #aaaaaa; }

.layout2 .main .contents > div { width: 300px; height: 300px; float: left; }
.layout2 .main .contents > div.box1 { background: #bbbbbb; }
.layout2 .main .contents > div.box2 { background: #cccccc; }
.layout2 .main .contents > div.box3 { background: #dddddd; }

.layout2 .main footer .footer1 { width: 200px; height:100px; float: left; background: #777777; }
.layout2 .main footer .footer2 { width: 700px; height:50px; float: left; background: #666666; }
.layout2 .main footer .footer3 { width: 700px; height:50px; float: left; background: #555555; }


