<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wireframe03</title>
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div id="wireframe03">
    <aside></aside>
    <div class="main">
      <div class="slide"></div>
      <div class="contents">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
      </div>
      <footer></footer>
    </div>
  </div>
</body>
</html>