@charset "utf-8";
@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; color: #333333; box-sizing: border-box; font-family: 'InfinitySans-RegularA1'; }
ul, li { list-style: none; }
a { text-decoration: none; color: inherit; }
.clearfix::before, .clearfix::after { display: block; content: ""; clear: both; }
table { border-spacing: 0; }
img { vertical-align: top; border: 0; }

#wireframe01 { width: 1200px; margin: 0 auto; }
#wireframe01 header { width: 100%; height: 100px; background: #AAAAAA; }
#wireframe01 .slide { width: 100%; height: 300px; background: #BBBBBB; }
#wireframe01 .contents { width: 100%; height: 200px; background: #CCCCCC; }
#wireframe01 .contents > div { width: 400px; height: 200px; border-right: 1px solid #ffffff; float: left; }
#wireframe01 footer { width: 100%; height: 100px; background: #DDDDDD; }

#wireframe02 header { width: 100%; height: 100px; background: #EEEEEE; }
#wireframe02 header .header { margin: 0 auto; width: 1200px; height: 100px; background: #AAAAAA; }
#wireframe02 .slide { margin: 0 auto; width: 1200px; height: 300px; background: #BBBBBB; }
#wireframe02 .contents { margin: 0 auto; width: 1200px; height: 200px; background: #CCCCCC; }
#wireframe02 .contents > div { width: 400px; height: 200px; border-right: 1px solid #ffffff; float: left; }
#wireframe02 footer { width: 100%; height: 100px; background: #EEEEEE; }
#wireframe02 footer .footer { margin: 0 auto; width: 1200px; height: 100px; background: #DDDDDD; }

#wireframe03 { display: flex; width: 1000px; }
#wireframe03 aside { width: 200px; height: 650px; background: #aaaaaa; }
#wireframe03 .main { width: 800px; }
#wireframe03 .main .slide { width: 100%; height: 350px; background: #bbbbbb; }
#wireframe03 .main .contents { width: 100%; height: 200px; background: #cccccc; }
#wireframe03 .main .contents > div { width: calc(800px / 3); height: 200px; border-right: 1px solid #ffffff; float: left; }
#wireframe03 .main footer { width: 100%; height: 100px; background: #dddddd; }