@charset "utf-8";
@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; color: #333333; box-sizing: border-box; font-family: 'InfinitySans-RegularA1'; }
ul, li { list-style: none; }
a { text-decoration: none; color: inherit; }
.clearfix::before, .clearfix::after { display: block; content: ""; clear: both; }
table { border-spacing: 0; }
img { vertical-align: top; border: 0; }

#layout1 { width: 1200px; margin: 0 auto; }
#layout1 header { width: 100%; height: 100px; background: #AAAAAA; }
#layout1 header h1 { padding-top: 25px; width: 200px; text-align: center;  float: left; }
#layout1 header h1 a { display: block; background: #FFFFFF; }
#layout1 header nav { margin-top: 30px; margin-right: 20px; width: 700px; background: #FFFFFF; float: right; }
#layout1 header nav ul li { padding: 5px; width: 25%; text-align: center; float: left; border-right: 1px solid #AAAAAA; }
#layout1 .slide { width: 100%; height: 300px; background: #BBBBBB; }
#layout1 .contents { width: 100%; height: 200px; background: #CCCCCC; }
#layout1 .contents > div { padding-top: 80px; width: 400px; height: 200px; border-right: 1px solid #ffffff; text-align: center; float: left; }
#layout1 footer { width: 100%; height: 100px; background: #DDDDDD; }

#layout2 { width: 1200px; margin: 0 auto; }
#layout2 aside { width: 200px; height: 650px; background: #aaaaaa; float: left; }
#layout2 aside h1 { margin-top: 20px; margin-bottom: 10px; width: 200px; text-align: center; }
#layout2 aside h1 a { display: block; background: #ffffff; }
#layout2 aside nav { padding: 10px; }
#layout2 aside nav ul > li { text-align: center; border-bottom: 1px solid #aaaaaa; background: #ffffff; }
#layout2 aside nav ul > li > a { display: block; padding: 5px; }
#layout2 .main { width: 1000px; float: left; }
#layout2 .main .slide { width: 100%; height: 350px; background: #bbbbbb; }
#layout2 .main .contents { width: 100%; height: 200px; background: #cccccc; }
#layout2 .main .contents > div { padding-top: 80px; width: 333.3px ; height: 200px; text-align: center; border-right: 1px solid #ffffff; float: left; }
#layout2 .main footer { width: 100%; height: 100px; background: #dddddd; }