@charset "utf-8";
@font-face {
  font-family: 'EliceDigitalBaeum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0 ; box-sizing: border-box; color: #333333; font-family: 'EliceDigitalBaeum'; }
ul, li { list-style: none; }
a { text-decoration: none; color: inherit; }
img { vertical-align: top; border: 0; }
.clearfix::before, .clearfox::after { display: block; content: ""; clear: both; }

#wrap { margin: 0 auto; width: 1200px; }
#wrap header { width: 100%; height: 100px; }
#wrap header .logo { float: left; }
#wrap header .logo img { margin-top: 30px; }
#wrap header nav { margin-top: 30px; width: 600px; float: right; }
#wrap header nav ul > li { position: relative; width: 25%; text-align: center; color: #0d2163; font-weight: bold; float: left; }
#wrap header nav ul > li > a { display: block; padding: 10px; }
#wrap header nav ul > li:hover > a { background: rgba(13, 33, 99, 0.3) }
#wrap header nav ul > li > ul.submenu { display: none; position: absolute; top: 40px; left: 0; background: #ffffff; z-index: 10;}
#wrap header nav ul > li > ul.submenu > li { width: 100%; }

#wrap .slide { position: relative; width: 100%; height: 300px; overflow: hidden; }
#wrap .slide .slideList { position: relative; width: 100%; height: 300px; }
#wrap .slide .slideList .slideImg { position: absolute; top: 0; left: 0; }

#wrap .contents { width: 100%; height: 200px; }
#wrap .contents > div { width: 400px; height: 200px; float: left; }
#wrap .contents > div.box1 ul.tabs { width: 100%; text-align: center; }
#wrap .contents > div.box1 ul.tabs > li { padding: 5px; width: 50%; border-bottom: 2px solid #dddddd; cursor: pointer; float: left; }
#wrap .contents > div.box1 ul.tabs > li.active { border-bottom:2px solid #0d2163; }
#wrap .contents > div.box1 div.tab-content div { display: none; padding: 10px; width: 100%; height: 165px; }
#wrap .contents > div.box1 div.tab-content div.active { display: block; }
#wrap .contents > div.box1 div.tab-content div.tab-1 ul li { width: 100%; }
#wrap .contents > div.box1 div.tab-content div.tab-1 ul li:hover { color: #334ea7; }
#wrap .contents > div.box1 div.tab-content div.tab-1 ul li span { float: right; }
#wrap .contents > div.box1 div.tab-content div.tab-1 ul li:hover span { color: #334ea7; }
#wrap .contents > div.box1 div.tab-content div.tab-2 ul { display:flex; align-items: center; justify-content: space-between; height: 100%; }
#wrap .contents > div.box1 div.tab-content div.tab-2 ul li { float: left; }
#wrap .contents > div.box2 { padding: 5px; }
#wrap .contents > div.box2 > div { position:relative; width: 100%; height: 100%; border: 2px solid #0d2163; }
#wrap .contents > div.box2 > div > h4 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; padding: 8px 12px; background: #dddddd; border-radius: 15px; }
#wrap .contents > div.box3 { padding: 5px; }
#wrap .contents > div.box3 > div { position:relative; width: 100%; height: 100%; border: 2px solid #0d2163; }
#wrap .contents > div.box3 > div > h4 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; padding: 8px 12px; background: #dddddd; border-radius: 15px; }

#wrap footer { width: 100%; height: 100px; background: #eeeeee }
#wrap footer .footer1 { width: 200px; height: 100px; float: left; }
#wrap footer .footer1 a { display: block; margin-top: 30px; }
#wrap footer .footer2 { width: 1000px; height: 50px; float: left; }
#wrap footer .footer2 ul { margin-top: 15px; text-align: center; }
#wrap footer .footer2 ul > li { width: 25%; border-right: 1px solid #333333; float: left; }
#wrap footer .footer2 ul > li:last-child { border: 0px; }
#wrap footer .footer3 { width: 1000px; height: 50px; float: left; }
#wrap footer .footer3 p { margin-top: 5px; text-align: center; }

.popup-bg { display: none; position: absolute; top: 0; left: 0; width: 100%; height:100%; background: rgba(0,0,0,0.3); z-index: 100; }
.popup { display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px; width: 500px; height: 500px; background: #ffffff; border: 1px solid #000000; z-index: 1000; }
.popup .btn_wrap { position: absolute; bottom: 20px; right: 20px}
.popup .btn_wrap span { display: inline-block; width: 100px; padding: 8px; background: #0d2163; color: #ffffff; border-radius: 10px; text-align: center; cursor: pointer; }